name = "solara"
compatibility_date = "2026-02-06"
compatibility_flags = [ "nodejs_compat" ] # 既然你用了 nodejs-20 运行时，建议加上这个

# 静态资源存放的目录（即项目根目录）
pages_build_output_dir = "./"

# 绑定你手动创建的 D1 数据库
#[[d1_databases]]
#binding = "DB" # 代码中访问的变量名，如 env.DB
#database_name = "solara-db"
#database_id = "填写你手动创建后生成的UUID" 

[vars]
PASSWORD = "your-password-here"
API_BASE_URL = "https://music-api.gdstudio.xyz/api.php"
